
@import '~/styles/vars';
@import '~/styles/utils';

div.wrap {
  overflow: scroll;
  height: 100%;
  padding: 50px;

  h1 {
    font-size: 50px;
    color: $colorPrimary;
    text-align: center;
  }

  div.topNav {
    text-align: right;
  }

  section {
    margin: 50px 0;

    h2 {
      text-transform: uppercase;
      font-size: 13px;
      color: $colorPrimary;
      letter-spacing: 0.02em;
    }

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
    }

    &.projects {

      > ul > li {
        width: 205px;
        height: 205px;
        background-color: white;
        border-radius: 8px;
        margin: 0 15px 15px 0;
        box-shadow:
          3px 8px 15px rgba(255, 0, 0, 0.05),
          0px 0px 2px rgba(0, 0, 255, 0.05);

        &:active {
          opacity: 0.65;
        }

        &.create {
          background-color: $colorPrimary;
          background-image: url('~/images/icon-plus.svg');
          background-repeat: no-repeat;
          background-position: center;

          @include hideText();

          a {
            display: block;
            width: 100%;
            height: 100%;
          }

        }

      }

    }

    &.beads {

      > ul > li {
        width: 80px;
        height: 80px;
        margin: 0 15px 15px 0;
        background-color: white;
        border-radius: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.075);
        border-right: 1px solid rgba(0, 0, 0, 0.075);
        box-shadow:
          3px 8px 15px rgba(255, 0, 0, 0.05),
          0px 0px 2px rgba(0, 0, 255, 0.05);
        transition:
          box-shadow 0.4s;

        @include hideText();

        &:active {
          opacity: 0.65;
        }

        &.create {
          background-color: $colorPrimary;
          background-image: url('~/images/icon-plus.svg');
          background-repeat: no-repeat;
          background-position: center;

          a {
            display: block;
            width: 100%;
            height: 100%;
          }

        }

      }

    }

  }

}
