
@import '~/styles/vars';
@import '~/styles/utils';

div.wrap {

  p {
    margin: 0;

    &.message {
      font-size: 22px;
      color: $colorPrimary;
    }

    &.description {
      margin-top: 20px;
      font-size: 15px;
      line-height: 1.5em;
      color: $colorUiDark;
    }

  }

}
