
@import '~/styles/vars';
@import '~/styles/utils';

$btnPad: 5px;

div.wrap {
  position: absolute;
  bottom: #{$uiBtnSize / 2};
  right: #{$uiBtnSize / 2};

  button {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }

  div.wrapZoom {
    position: absolute;
    right: #{$uiBtnSize * 3 / 2};
    bottom: #{$uiBtnSize * 4};

    > button {
      &.zoomIn {
        left: #{-($uiBtnSize + $btnPad) / 2};
      }
      &.zoomOut {
        left: #{($uiBtnSize + $btnPad) / 2};
      }
    }

  }

  div.wrapPan {
    position: absolute;
    right: #{$uiBtnSize * 3 / 2};
    bottom: #{$uiBtnSize * 3 / 2};

    > button {

      &.panLeft {
        left: -($uiBtnSize + $btnPad);
      }
      &.panRight {
        left: $uiBtnSize + $btnPad;
      }

      &.panUp {
        top: -($uiBtnSize + $btnPad);
      }
      &.panDown {
        top: $uiBtnSize + $btnPad;
      }
    }

  }

}
