
#dashboard-view {
  padding: 50px;

  height: auto;
  overflow-y: auto;

  ul {
    display: flex;
    margin-bottom: 50px;

    li {
      flex: 0 0 auto;
      border: 1px solid #ccc;
      border-radius: 5px;

      &.create {
        background-position: center;
        background-repeat: no-repeat;
      }

      // TODO: to center placeholder text
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      letter-spacing: 0.01em;
      font-weight: bold;
      color: #aaa;

    }

    &.projects {
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;

      li {
        width: 200px;
        height: 200px;
        margin-right: 10px;

        &.create {
          background-image: url('../images/icon-dashboard-new-project.svg');
          background-size: 35%;
        }

      }

    }

    &.beads {
      flex-wrap: wrap;

      li {
        width: 65px;
        height: 65px;
        margin-right: 10px;
        margin-bottom: 10px;

        &.create {
          background-image: url('../images/icon-dashboard-new-bead.svg');
          background-size: 50%;
        }

      }
    }

  }

}
