
$toolbarH: 100px;
$btnSize: 40px;

#project-view {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  @include preventSelect();

  div.menu {
    position: relative;
    z-index: 100;
    padding: 25px;

    button.back {
      width: 50px;
      height: 50px;
      background-image: url('../images/icon-design-back.svg');
    }

  }

  div.wrap-beads {
    position: absolute;
    cursor: pointer;

    button.save {
      background-color: #f55;
      position: fixed;
      z-index: 200;
      top: 25px;
      left: 100px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 11px;
      padding: 10px;
      border-radius: 4px;

      cursor: pointer;

      &:hover {
        background-color: #c33;
      }

      &[disabled],
      &:disabled {
        pointer-events: none;
        background-color: #ccc;
      }

    }

    canvas {
      pointer-events: none;
    }

  }

}

#toolbar {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: $toolbarH;
  display: flex;
  border-top: 1px solid #ddd;
  background-color: rgba(100%, 100%, 100%, 0.65);
  @include preventSelect();

  ul {
    padding: 15px;
    display: flex;

    li {
      text-align: center;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: bold;
      border-radius: 5px;
      margin-top: 15px;
      width: 50px;
      height: 40px;
      line-height: 40px;
      transition:
        color 0.2s ease,
        background-color 0.2s ease,
        width 0.1s ease,
        height 0.1s ease,
        margin-top 0.1s ease,
        line-height 0.1s ease;

      & + li {
        margin-left: 15px;
      }

      &.selected {
        margin-top: 0;
        width: 70px;
        height: 70px;
        line-height: 70px;
        color: white;
      }


    }

  }

  div.tools {
    flex-basis: 165px;
    border-right: 1px solid #ddd;

    ul {

      li {
        background: #eee;
        color: #aaa;

        &.selected {
          background-color: #333;
          color: white;
        }

      }

    }

  }

  div.beads {
    flex: 1;

    ul {

      li {
        background-color: var(--color-bead);
        color: transparent;

        &.selected {
          color: white;
        }

      }
    }

  }

}

#pan-controls,
#zoom-controls {

  button {
    width: $btnSize;
    height: $btnSize;
    border: 1px solid #ccc;
    color: #999;
    font-size: 24px;
    margin-bottom: 5px;

    &:disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &:not(:disabled) {
      cursor: pointer;

      &:active {
        color: #ccc;
      }
    }

  }

}

#pan-controls {
  position: absolute;
  bottom: $toolbarH + $btnSize;
  right: $btnSize;
  width: ($btnSize + 5px) * 2;
  height: ($btnSize + 5px) * 2;

  button {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);

    &.pan-up,
    &.pan-down,
    &.reset-pan {
      left: 50%;
    }

    &.pan-right {
      left: 100%;
    }

    &.pan-left,
    &.pan-right,
    &.reset-pan {
      top: 50%;
    }

    &.pan-down {
      top: 100%;
    }

  }

}

#zoom-controls {
  position: absolute;
  bottom: $toolbarH + 225px;
  right: 25px;
  width: 50px;
}
