
@import "utils";
@import "vars";

body {
  margin: 0;
  padding: 0;

  background-image: linear-gradient(
    $colorBg,
    lighten($colorBg, 2%)
  );

  font-family: $fontSans;
  font-size: 14px;

}

* {
  box-sizing: border-box;
}
