
// Fonts

$fontSans:
  'Roboto',
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";

// Sizes
$uiBtnSize: 45px;


// Colors

$colorBg: #fff3ef;
$colorPrimary: #f66;
$colorUi: #b99;
$colorUiLight: #efe3e3;//mix($colorBg, $colorUi, 75%);
$colorUiDark: #966;

:export {
  colorBg: $colorBg;
  colorA: $colorPrimary;
  colorUiLight: $colorUi;
  colorUiDisabled: $colorUiLight;
}
