
// Fonts

$fontSans:
  'Roboto',
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";

// Colors

$colorBg: #fff3ef;
$colorA: #f66;
$colorB: #00f;
$colorUiLight: #b99;
$colorUiDisabled: mix($colorBg, $colorUiLight, 75%);

:export {
  colorBg: $colorBg;
  colorA: $colorA;
  colorB: $colorB;
  colorUiLight: $colorUiLight;
  colorUiDisabled: $colorUiDisabled;
}
