@import '~/styles/vars';
@import '~/styles/utils';

div.wrap {

  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(
    lighten($colorBg, 2%),
    $colorBg
  );

  font-family: $fontSans;
  font-size: 14px;

}
