@import '~/styles/vars';
@import '~/styles/utils';

div.wrap {
  background-color: $colorBg;
  background: linear-gradient(
    $colorBg,
    lighten($colorBg, 2%)
  );
  width: 100vw;
  height: 100vh;

}
