
#design-view {
  width: $appW;
  height: $appH - $toolsViewH;
  border-bottom: 1px solid #ddd;
  padding-top: 75px;

  div.wrap-design {
    width: 700px;
    height: 875px;
    margin: 0 auto;

    svg {
      width: 700px;
      height: 875px;
    }

  }

}
