
#design-view {
  width: 100%;
  height: calc(100% - #{$toolsViewH});
  position: relative;
  overflow: hidden;

  div.wrap-beads {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}
