
// Vars


// Mixins/extends

%clear-fix {
  content: "";
  display: table;
  clear: both;
}

%hide-text {
  font: 0/0 x;
  color: transparent;
}

%debug-outline {
  border: 1px dashed magenta;
}

%debug-outline-children,
%debug-outline-children * {
  border: 1px dashed magenta;
}
