
@import '~/styles/vars';
@import '~/styles/utils';

div.wrap {
  position: absolute;
  bottom: 100px + $zoomBtnSize;
  right: $zoomBtnSize;
  width: ($zoomBtnSize + 5px) * 2;
  height: ($zoomBtnSize + 5px) * 2;

  button {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);

    &.panUp,
    &.panDown,
    &.resetPan {
      left: 50%;
    }

    &.panRight {
      left: 100%;
    }

    &.panLeft,
    &.panRight,
    &.resetPan {
      top: 50%;
    }

    &.panDown {
      top: 100%;
    }

  }

}
