@import '~/styles/vars';
@import '~/styles/utils';

button.wrap {

  @include removeAppearance();
  @include preventSelect();

  display: inline-block;
  padding: 0 30px;
  height: 45px;

  color: white;
  background-color: $colorPrimary;
  font-size: 16px;
  font-weight: bold;
  border-radius: 100px;

  &:disabled {
    pointer-events: none;
    background-color: $colorUiLight;
    color: white;

    &.outline {
      background-color: transparent;
      border-color: $colorUiLight;
      color: $colorUiLight;
    }

  }

  &.outline {
    background-color: transparent;
    border: 2px solid $colorPrimary;
    color: $colorPrimary;

    &:active {
      background-color: $colorPrimary;
      color: white;
    }

  }

  &.small {
    font-size: 14px;
    border-width: 2px;
    padding: 0 20px;
    height: 40px;
  }

  &.large {
    font-size: 18px;
    border-width: 3px;
    padding: 0 45px;
    height: 55px;
  }

  &:active {
    background-color: #f99;
  }

}
