@import '~/styles/vars';
@import '~/styles/utils';

button.wrap {

  @include removeAppearance();
  background-color: $colorA;
  color: white;
  padding: 15px 45px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 100px;
  cursor: pointer;

  &.outline {
    background-color: transparent;
    border: 3px solid $colorA;
    color: $colorA;

    &:active {
      background-color: $colorA;
      color: white;
    }

  }

  &.small {
    font-size: 14px;
    border-width: 2px;
    padding: 10px 20px;
  }

  &:active {
    background-color: #f99;
  }

}
