
@import '~/styles/vars';
@import '~/styles/utils';

div.wrap {

  div.wrapColorPreview {
    border: 1px solid $colorUiLight;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 25px;

    div.colorPreview {
      width: 100%;
      height: 125px;
      border-radius: 4px;
    }

  }

  div.field {
    margin-top: 10px;
  }

  .deleteBtn {
    margin-left: 0 !important;
    float: left;
  }

}
