
@import '~/styles/vars';
@import '~/styles/utils';

li.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;

  background-color: white;
  color: black;

  p {
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.01em;
  }

}
